# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz

# Spring Boot files
target/
bin/
.mvn/
.gradle/

# Intellij Idea
.idea/
*.iml
*.iws

# Eclipse
.settings/
.classpath
.project

# macOS
.DS_Store

# Windows
Thumbs.db

# Gradle
.gradle
build/

# Maven
target/
pom.xml.tag
pom.xml.backup
