# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz

# Spring Boot files
target/

# Intellij Idea
.idea/
*.iml
*.iws
.vscode/

# Eclipse
.settings/
.classpath
.project

# macOS
.DS_Store

# Windows
Thumbs.db

# Gradle
build/

# Maven
